{% extends './layout.html' %}
{% block content %}
<div class='well'>
  Welcome to Acme!!
</div>
<ul class='list-group'>
  <li class='list-group-item list-group-item-success'>3 .js files</li>
  <li class='list-group-item'>server.js (25 lines)</li>
  <li class='list-group-item'>products.routes.js (32 lines)</li>
  <li class='list-group-item'>product.model.js (23 lines)</li>
  <li class='list-group-item list-group-item-success'>5 html files</li>
  <li class='list-group-item'>layout.html (15 lines)</li>
  <li class='list-group-item'>index.html</li>
  <li class='list-group-item'>products.html (15 lines)</li>
  <li class='list-group-item'>edit.html (10 lines)</li>
  <li class='list-group-item'>add.html (10 lines)</li>
  <li class='list-group-item list-group-item-danger'>Be concise.</li>
  <li class='list-group-item list-group-item-danger'>Name your variables precisely.</li>
</ul>

{% endblock %}
